<style>
    .table {
        width: 100%;
        max-width: 100%;
        background-color: transparent;
        border-spacing: 0;
        border-collapse: collapse;
        border: 1px solid #ddd;
        text-align: center;
    }

    .table-bordered>thead>tr>th, .table-bordered>tbody>tr>td {
        border: 1px solid #ddd;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form name="controls">
                <h1>Lambdas Benchmark</h1>

                <label>Loops:</label>
                <input ng-model="main.config.loops" type="number" name="loops" />

                <label>Interval(ms)</label>
                <input ng-model="main.config.interval" type="number" name="interval" />

                <label>
                    <input type="radio" ng-model="main.config.gateway" value="{{ main.GATEWAY_LAMBDA }}">
                    Lambda
                </label>
                <label>
                    <input type="radio" ng-model="main.config.gateway" value="{{ main.GATEWAY_API }}">
                    API Gateway
                </label>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div ng-repeat="(msId, msResources) in main.resources" ng-show="msResources.length" >
                <br />
                <b>{{ msId }} microservice resources</b>
                <br /><br />

                <div ng-repeat="resourceId in msResources">
                    <form name="form_{{ $index }}" ng-submit="main.catchSubmit(resourceId)">
                        {{ resourceId }}
                        <input ng-show="msId !== main.BENCHMARKING_MS_ID" ng-model="main.payloads[resourceId]" type="text" name="payload" />

                        {{ resultSummary = main.getResultsSummary(resourceId);""}}
                        <b ng-if="resultSummary !== null">
                            (min:{{ resultSummary.min }}, max:{{ resultSummary.max }}, avg:{{ resultSummary.avg }})
                        </b>
                        <input type="submit" value="Start"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br />
            <span style="color: red" ng-bind="main.errorText" ng-show="main.errorText"> {{ main.errorText }} </span>
            <p style="text-align: center" ng-bind="main.loadingText"></p>
            <br/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Request #</th>
                        <th>Start time</th>
                        <th>Stop time</th>
                        <th>Duration (ms)</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="request in main.resultsStack[main.workingResource]">
                        <td>{{request.index}}</td>
                        <td>{{request.start| date:'HH:mm:ss.sss'}}</td>
                        <td>{{request.stop| date:'HH:mm:ss.sss'}}</td>
                        <td>{{request.duration}}</td>
                        <td>
                            <p ng-repeat="(actionName, durationMs) in request.internalDebug">
                                {{ actionName }} : {{ durationMs }}
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
