<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form name="controls">
                <h1>Lambdas Benchmark</h1>

                <label>Loops:</label>
                <input ng-model="main.config.loops" type="number" name="loops" />

                <label>Interval(ms)</label>
                <input ng-model="main.config.interval" type="number" name="interval" />

                <label>
                    <input type="radio" ng-model="main.config.gateway" value="{{ main.GATEWAY_LAMBDA }}">
                    Lambda
                </label>
                <label>
                    <input type="radio" ng-model="main.config.gateway" value="{{ main.GATEWAY_API }}">
                    API Gateway
                </label>
            </form>

            <br />

            <span style="color: red" ng-bind="main.errorText" ng-show="main.errorText"> {{ main.errorText }} </span>
            <p style="text-align: center" ng-bind="main.loadingText"></p>

            <br/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div ng-repeat="(msId, msResources) in main.resources" ng-show="msResources.length" >
                <label>{{ msId }} microservice resources</label>

                <div ng-repeat="resourceId in msResources">
                    <form name="form_{{ $index }}" ng-submit="main.catchSubmit(resourceId)">
                        {{ resourceId }}
                        <input ng-show="msId !== main.BENCHMARKING_MS_ID" ng-model="main.payloads[resourceId]" type="text" name="payload" />

                        {{ resultSummary = main.getResultsSummary(resourceId);""}}
                        <b ng-if="resultSummary !== null">
                            (min:{{ resultSummary.min }}, max:{{ resultSummary.max }}, avg:{{ resultSummary.avg }})
                        </b>
                        <input type="submit" value="Start"/>
                    </form>
                </div>

                <br />
            </div>
        </div>

        <div class="col-md-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Request #</th>
                        <th>Start time</th>
                        <th>Stop time</th>
                        <th>Duration (ms)</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="request in main.resultsStack[main.workingResource]">
                        <td>{{request.index}}</td>
                        <td>{{request.start| date:'HH:mm:ss.sss'}}</td>
                        <td>{{request.stop| date:'HH:mm:ss.sss'}}</td>
                        <td>{{request.duration}}</td>
                        <td>
                            <p ng-repeat="(actionName, durationMs) in request.internalDebug">
                                {{ actionName }} : {{ durationMs }}
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
