<div class="container-fluid">
    <h1>Lambdas Benchmark</h1>

    <label>Loops:</label>
    <input ng-model="main.config.loops" ng-pattern="/^\d+$/" name="loops" />

    <label>Interval(ms)</label>
    <input ng-model="main.config.interval" ng-pattern="/^\d+$/" name="interval" />

    <div ng-repeat="resourceId in main.resources">
        <br />
        <form name="{{ resourceId }}" ng-submit="main.catchSubmit(resourceId)">
            {{ resourceId }}

            {{ resultSummary = main.getResultsSummary(resourceId);""}}
            <b ng-if="resultSummary !== null">
                (min:{{ resultSummary.min }}, max:{{ resultSummary.max }}, avg:{{ resultSummary.avg }})
            </b>
            <input type="submit" value="Start"/>
        </form>
    </div>

    <br/>
    <p style="text-align: center" ng-bind="main.loadingText"></p>
    <br/>

    <div>
        <table ng-table="main.tableParams" class="table table-bordered table-striped" show-filter="false">
            <tr ng-repeat="request in $data">
                <td title="'Request #'" filter="{ index: 'number'}" sortable="'index'">
                    {{ request.index }}
                </td>
                <td title="'Start time'" filter="{ start: 'number'}" sortable="'start'">
                    {{ request.start| date:'HH:mm:ss.sss' }}
                </td>
                <td title="'Stop time'" filter="{ stop: 'number'}" sortable="'stop'">
                    {{ request.stop| date:'HH:mm:ss.sss' }}
                </td>
                <td title="'Duration (ms)'" filter="{ duration: 'number'}" sortable="'duration'">
                    {{ request.duration }}
                </td>
            </tr>
        </table>
    </div>
</div>
