<div class="container">
    <form name="controls">
        <h3 class="title">Lambdas Benchmarking</h3>

        <div class="parameters input-style">
            <div class="intervals">
                <strong>Loops: </strong>
                <input ng-model="main.config.loops" type="text" name="loops" />

                <strong>Interval(ms): </strong>
                <input ng-model="main.config.interval" type="text" name="interval" />
            </div>

            <div class="config-options">
                <div class="radio-div">
                    <input type="radio" ng-model="main.config.gateway" value="{{ main.GATEWAY_LAMBDA }}" id="lambda"/>
                    <label for="lambda"><span></span>Lambda</label>
                </div>
                <div class="radio-div">
                    <input type="radio" ng-model="main.config.gateway" value="{{ main.GATEWAY_API }}" id="api"/>
                    <label for="api"><span></span>API Gateway</label>
                </div>
            </div>
        </div>
    </form>
    <div ng-repeat="(msId, msResources) in main.resources" ng-show="msResources.length" >

        <strong class="resource-name">{{ msId }} microservice resources</strong>

        <div ng-repeat="resourceId in msResources">
            <form class="resources-form input-style" name="form_{{ $index }}" ng-submit="main.catchSubmit(resourceId)">
                {{ resourceId }}
                <input class="payload" ng-show="msId !== main.BENCHMARKING_MS_ID"
                       ng-model="main.payloads[resourceId]"
                       type="text" name="payload" placeholder="payload..." />

                {{ resultSummary = main.getResultsSummary(resourceId);""}}
                <b ng-if="resultSummary !== null">
                    <small>(min:{{ resultSummary.min }}, max:{{ resultSummary.max }}, avg:{{ resultSummary.avg }})</small>
                </b>
                <button class="custom-button" type="submit" ng-disabled="main.busy[resourceId]" value="Start">Start</button>
            </form>
        </div>
    </div>
    <div class="row" id="results" ng-show="main.resultsStack[main.workingResource].length">
        <div class="resource-name">
            <span class="error" ng-bind="main.errorText" ng-show="main.errorText"> {{ main.errorText }} </span>
            <p class="loading-text" ng-bind="main.loadingText"></p>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Request #</th>
                    <th>Start time</th>
                    <th>Stop time</th>
                    <th>Duration (ms)</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="request in main.resultsStack[main.workingResource]">
                    <td>{{request.index}}</td>
                    <td>{{request.start| date:'HH:mm:ss.sss'}}</td>
                    <td>{{request.stop| date:'HH:mm:ss.sss'}}</td>
                    <td>{{request.duration}}</td>
                    <td>
                        <p ng-repeat="(actionName, durationMs) in request.internalDebug">
                            {{ actionName }} : {{ durationMs }}
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
